body.light-theme {
    text-align: center;
    background-color: white;
    color: black;

    button {
        background-color: white;
        color: black;
        border-width: 1px;
    }

    input {
        margin-bottom: 2px;
        background-color: white;
        color: black;
        border-color: black;
        border-width: 1px;
    }
    input::placeholder {
        color: grey;
    }

    textarea {
        background-color: white;
        color: black;
        border-color: black;
    }
    textarea::placeholder {
        color: gray;
    }
}

body.dark-theme {
    text-align: center;
    background-color: black;
    color: white;

    button {
        background-color: black;
        color: white;
        border-color: white;
        border-width: 1px;
    }

    input {
        margin-bottom: 2px;
        background-color: black;
        color: white;
        border-color: white;
        border-width: 1px;
    }
    input::placeholder {
        color: rgb(197, 197, 197);
    }

    textarea {
        background-color: black;
        color: white;
        border-color: white;
    }
    textarea::placeholder {
        color: rgb(197, 197, 197);
    }
}

#entry-form {
    padding-top: 50px;
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.entry {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin: 20px auto;
    width: 350px;
    transition: transform 0.2s ease, border-color 0.3s ease;
}
.entry:hover {
    border-color: yellow;
}
.entry:active {
    transform: scale(1.1);
}

button {
    margin: 10px;
}